extends ../layouts/default

block content
  .container: .jumbotron
    img(src='/images/logo.svg', width='160')
    h1 My Home
    p This is a new website, currently it's under construction.
    hr
    p It includes the latest versions of
      | <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
      | and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
    hr
    if user && user.canAccessKeystone
      p
        a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
    else
      p
        //-a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
        //-|  to use the Admin UI.
    hr
    //-p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
      //-| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
